
@{
    ViewBag.Title = "Login";
}
    <div class="container">
        <div class="row">
            <div class="col-4">

            </div>
            <div class="col-4">
                <form class="navbar-form navbar-left" method="post" action="/login/check">
                    <h1>Đăng Nhập</h1>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email">
                        <input type="password" name="pass" class="form-control" placeholder="Pass">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>

    

