@{
    ViewBag.Title = "Thêm thể loại";
}
<div class="space"></div>
<div class="container">
    <div class="row">
        <div class="col-8">
            <form method="post" accept-charset="utf-8" action="/home/AddKind" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Tên thể loại</label>
                    <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Tên">
                </div>
                <button type="submit" class="btn btn-primary">Thêm</button>
            </form>
        </div>
    </div>
</div>